
/* 
	EBC to RGB CSS Stylesheet
	Version 0.02
	Atraktiv Brewery - Yann Simard - 03/07/2014
*/

.ebc1 {background-color:rgb(250, 250, 188);}
.ebc2 {background-color:rgb(250, 250, 160);}
.ebc3 {background-color:rgb(250, 250, 133);}
.ebc4 {background-color:rgb(250, 250, 105);}
.ebc5 {background-color:rgb(250, 250, 78);}
.ebc6 {background-color:rgb(245, 246, 50);}
.ebc7 {background-color:rgb(240, 238, 46);}
.ebc8 {background-color:rgb(235, 228, 47);}
.ebc9 {background-color:rgb(230, 218, 48);}
.ebc10 {background-color:rgb(224, 206, 50);}
.ebc11 {background-color:rgb(219, 196, 51);}
.ebc12 {background-color:rgb(214, 186, 52);}
.ebc13 {background-color:rgb(209, 176, 54);}
.ebc14 {background-color:rgb(204, 166, 55);}
.ebc15 {background-color:rgb(200, 156, 56);}
.ebc16 {background-color:rgb(197, 146, 56);}
.ebc17 {background-color:rgb(195, 139, 56);}
.ebc18 {background-color:rgb(192, 136, 56);}
.ebc19 {background-color:rgb(192, 132, 56);}
.ebc20 {background-color:rgb(192, 128, 56);}
.ebc21 {background-color:rgb(192, 124, 56);}
.ebc22 {background-color:rgb(192, 120, 56);}
.ebc23 {background-color:rgb(192, 116, 56);}
.ebc24 {background-color:rgb(192, 112, 56);}
.ebc25 {background-color:rgb(192, 109, 56);}
.ebc26 {background-color:rgb(188, 105, 56);}
.ebc27 {background-color:rgb(183, 101, 56);}
.ebc28 {background-color:rgb(178, 97, 56);}
.ebc29 {background-color:rgb(171, 94, 55);}
.ebc30 {background-color:rgb(164, 90, 53);}
.ebc31 {background-color:rgb(157, 86, 52);}
.ebc32 {background-color:rgb(149, 82, 51);}
.ebc33 {background-color:rgb(141, 77, 49);}
.ebc34 {background-color:rgb(134, 73, 46);}
.ebc35 {background-color:rgb(127, 69, 43);}
.ebc36 {background-color:rgb(119, 66, 39);}
.ebc37 {background-color:rgb(112, 62, 36);}
.ebc38 {background-color:rgb(105, 58, 31);}
.ebc39 {background-color:rgb(98, 54, 25);}
.ebc40 {background-color:rgb(91, 51, 19);}
.ebc41 {background-color:rgb(84, 47, 13);}
.ebc42 {background-color:rgb(77, 43, 8);}
.ebc43 {background-color:rgb(69, 39, 11);}
.ebc44 {background-color:rgb(62, 36, 13);}
.ebc45 {background-color:rgb(54, 31, 16);}
.ebc46 {background-color:rgb(47, 27, 19);}
.ebc47 {background-color:rgb(39, 24, 21);}
.ebc48 {background-color:rgb(36, 21, 20);}

.ebc49 {background-color:rgb(0, 0, 0);}
.ebc50 {background-color:rgb(0, 0, 0);}
.ebc51 {background-color:rgb(0, 0, 0);}
.ebc52 {background-color:rgb(0, 0, 0);}
.ebc53 {background-color:rgb(0, 0, 0);}
.ebc54 {background-color:rgb(0, 0, 0);}
.ebc55 {background-color:rgb(0, 0, 0);}
.ebc56 {background-color:rgb(0, 0, 0);}
.ebc57 {background-color:rgb(0, 0, 0);}
.ebc58 {background-color:rgb(0, 0, 0);}
.ebc59 {background-color:rgb(0, 0, 0);}

.ebc60 {background-color:rgb(6, 2, 1);}